$color-primary: #333;

$color-white: #fff;
$color-white-light: #ececec;

$color-orange: #f39c12;
$color-orange-dark: #F27121;

$color-gray: #606060;
$color-gray-light: #828282;
$color-gray-dark: #2c383c;